<form method='POST' action='/users'>
  <label name='email'>E-mail
    <input type='text' name='email' />
  </label>
    <label name='firstName'>First
    <input type='text' name='firstName' />
  </label>
    <label name='lastName'>Last
    <input type='text' name='lastName' />
  </label>
    <label name='dob'>dob
    <input type='date' name='dob' />
  </label>
  <input type='submit' />
</form>
